<% content_for :title do %>About<% end %>
<h3>Sobre o Projeto Hollywood</h3>

<p>Projeto prático da disciplina de Engenharia de Software do Centro de Informática da UFPE de 2013.1.</p>

<h2>Equipe:</h2>
<p>Nossa equipe é formada de quatro integrantes:<br/>
Gerente Geral (Scrum Master) função exercida pelo componente Juniel Alves<br/>
Desenvolvedores: Stanley Alves, Ricardo Rufino e Lorischider Honório<br/>
A mesma será gerenciada pelo componente Stanley Alves que será encarregado do repasse de todas as atividades relacionadas ao desenvolvimento do projeto.
O sistema desenvolvido terá como cliente/P.O. (Product Owner) da Empresa Cinemas Theresina que tem como representante o seu gerente Maycon Francis que aceitou ajudar no levantamento de requisitos e validações das iterações.
</p>


