<% content_for :title do %>About<% end %> <h3>Admin Page</h3>

<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span2">
            <a href="#" class="thumbnail text-center"> <img src="/assets/icons/users.png" > 
                <span>Cadastrar Usuários</span>
            </a>
        </li>
        <li class="span2">
            <a href="<%= new_filme_path %>" class="thumbnail text-center"> <img src="/assets/icons/film.png" > 
            <span>Cadastrar Filmes</span>
            </a>
        </li>
        <li class="span2">
            <a href="/filmes/search" class="thumbnail text-center"> <img src="/assets/icons/find.png" > 
            <span>Buscar Filmes</span>
            </a>
        </li>

        <li class="span2">
            <a href="#" class="thumbnail text-center"> <img src="/assets/icons/login.png" >
            <span>Alterar Senha</span> 
            </a>
        </li>
    </ul>
</div>